html
{
  /*font color of basic text-align*/
  color: white;
  background-color: #152EAA;
}

.box-1
{
  /*Color of the bright box*/
  background-color: #3C58E7;
}

.box-2
{
  /*Color of the dark box*/
  background-color: #0A154D;
}

.button-1
{
  /*Color of the button*/
  background-color: #F4B961;
}

.button-1:hover
{
  /*Color if mouse is over button-1*/
  background-color: white;
  color: #F4B961;
}
