html
{
  /*font color of basic text-align*/
  color: white;
  /*background color*/
  background-color: #670072;
}

.box-1
{
  /*Color of the bright box*/
  background-color: #ed59ff;
  color: white;
}

.box-2
{
  /*Color of the dark box*/
  background-color: #560060;
  color: white;
}

.button-1
{
  /*Color of the button*/
  background-color: #ff2154;
  color: white;
}

.button-1:hover
{
  /*Color if mouse is over button-1*/
  background-color: white;
  color: #ff2154;
}
